# =========================
# .NET build outputs
# =========================
bin/
obj/
publish/
**/bin/
**/obj/
**/publish/

# =========================
# IDEs
# =========================
.vs/
.idea/

# =========================
# User / Debug
# =========================
*.user
*.suo
*.pdb
